body {
	background: #262626;
}

#game {
	float: left;
}

#game-ui {
	float: left;
	width: 200px;
	background: #eee;
	margin-left: 10px;
	padding: 5px;
}

#alert {
	color: salmon;
}

.drag-disabled {
	cursor: not-allowed;
}

.drag-enabled {
	cursor: all-scroll;
}
